{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h2>
        <a href="{{ path('user_list') }}">Liste des users</a>    
    </h2>
    <h2>
        <a href="{{ path('user_create') }}">Creation d'user</a>    
    </h2>
    <h2>
        {# <a href="{{ path('usergroup_show') }}">Creation d'un groupe</a>     #}
    </h2>
</div>
{% endblock %}
